# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Carpetas de compilación
/build/
/bin/
/out/

# Archivos generados por el editor
*.log
*.tmp
*.swp
*.swo

# Archivos de configuración del entorno
.env
.env.*

# Test binary, built with `go test -c`
*.test

# Dependencias del vendoring
/vendor/

# Archivos de cache
*.cache

# Misclaneous
.idea
.DS_Store